.App {
  width: 600px;
  margin: 0 auto;
}
.formContainer {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  background-color: rgb(228, 222, 222);
}
.formContainerTitle {
  margin: 10px 0 2px 25px;
}
.input {
  width: 90%;
  height: 20px;
  margin: 2px 10px 0 30px;
}

.textarea {
  width: 90%;
  height: 40px;
  margin: 3px 10px 0 30px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.commentPostButton {
  margin: 2px 23px 0 0;
  background-color: rgb(22, 122, 236);
  width: 50px;
  font-weight: bold;
  height: 30px;
}

.commentViewer {
  width: 600px;
  margin: 4px auto 0;
}

.sortbuttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.commentContainer {
  margin: 4px 0;
  background-color: rgb(228, 222, 222);
}
.comment {
  width: 95%;
  word-wrap: break-word;
  margin: 3px 2px;
}
.commentHeader {
  margin: 3px;
  display: flex;
  justify-content: space-between;
}
.main {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.commentButtonContainer {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
}

.commentButtonContainer > button {
  margin: 0 0 3px 3px;
  background-color: darkcyan;
}

.deleteButton {
  position: absolute;
  right: -10px;
  border-radius: 10px;
}

.replyContainer {
  width: 95%;
  margin: 4px 0 4px 31px;
  background-color: rgb(228, 222, 222);
}

.replyformContainer {
  width: 95%;
  height: 200px;
  margin: 4px 0 4px 31px;
  background-color: rgb(228, 222, 222);
}
